################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Example/.vs/Example
/Example/Example/obj
/Example/Example/bin/Debug/net6.0
